<VirtualHost *:80>
    ServerName public.ljconstrutic.com
    ServerAlias www.public.ljconstrutic.com

    ProxyPreserveHost On
    ProxyPass / http://localhost:4200/
    ProxyPassReverse / http://localhost:4200/

    ErrorLog ${APACHE_LOG_DIR}/webvercel_error.log
    CustomLog ${APACHE_LOG_DIR}/webvercel_access.log combined
</VirtualHost>
# -- EXEC ::: sudo certbot --apache -d public.ljconstrutic.com -d www.public.ljconstrutic.com